{% extends "juice/templates/index.html" %}
{% block favicon %}
<link rel="icon" type="image/png" href="/favicon.png">
{% endblock favicon %}

{% block head %}
<style>
.logo {
  font-family: 'Dangrek', serif;
  font-weight: 400;
  font-size: 52px;
}

.heading-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

h1, .title-text {
  font-family: 'Montserrat', sans-serif;
}

h2, .subtitle-text {
  font-family: 'Montserrat', sans-serif;
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.subtext {
  font-family: 'Montserrat', sans-serif;
}
</style>
{% endblock head %}

{% block hero %}
<section class="text-center">
    <h1 class="heading-text">
        Open the right browser at the right time
    </h1>
    <h3 class="title-text">
        Open source, cross platform, and free
    </h3>
</section>

<video class="hero-video" width="592" height="343" autoplay loop muted>
    <source src="browsers.webm" type="video/webm" />
</video>

<div class="explore-more text"
     onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore More ↓
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }
    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-video {
            display: none
        }
    }
</style>
{% endblock hero %}

{% block footer %}
<footer>
    <small class="subtext">
        <a href="https://browsers.software">browsers.software</a> © 2022
    </small>
</footer>
{% endblock footer %}

