{% extends "juice/templates/index.html" %}
{% block favicon %}
<link rel="icon" type="image/png" href="/favicon.png">
{% endblock favicon %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<style>
.logo {
  font-family: 'Dangrek', serif;
  font-weight: 400;
  font-size: 52px;
}

.heading-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

h1, .title-text {
  font-family: 'Montserrat', sans-serif;
}

h2, .subtitle-text {
  font-family: 'Montserrat', sans-serif;
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.subtext {
  font-family: 'Montserrat', sans-serif;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
</style>
{% endblock head %}

{% block hero %}
<section class="text-center">
    <h1 class="heading-text">
        Open the right browser at the right time
    </h1>
    <h3 class="title-text">
        Open source, cross platform, and free
    </h3>
    <div>
        <a class="hero-download-btn"
           href="https://github.com/Browsers-software/browsers/releases/latest/download/Browsers.dmg"><i class="fa-brands fa-apple"></i> macOS</a>

        <a class="hero-download-btn"
           href="https://github.com/Browsers-software/browsers/releases/latest/download/browsers_linux.tar.gz"><i class="fa-brands fa-linux"></i> Linux</a>

        <a class="hero-download-btn"
           href="https://github.com/Browsers-software/browsers/releases/latest/download/Browsers_windows.zip"><i class="fa-brands fa-windows"></i> Windows</a>
    </div>
</section>

<video class="hero-video" width="592" height="343" autoplay loop muted>
    <source src="browsers.webm" type="video/webm" />
</video>

<div class="explore-more text"
     onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Tell Me More ↓
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }
    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-video {
            display: none
        }
    }
</style>
{% endblock hero %}

{% block footer %}
<footer>
    <small class="subtext">
        <a href="https://browsers.software">browsers.software</a> © 2023
    </small>
</footer>
{% endblock footer %}

